body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #8c8c8c;

    
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

input {
    padding: 0.5rem;
    margin-right: 1rem;
    width: 400px;
    height: 35px;
    border-radius: 15px;
    font-size: large;
}

button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: medium;
    border-radius: 15px;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5rem; 
    margin-bottom: 0.5rem;
}


#friend-requests button {
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 72px;
    height: 30px;
    font-size: small;
    border-radius: 15px;
    margin: 5px;
}

#friend-requests span {
    margin: 25px;
    font-size: large;

}